@import "tailwindcss";

@theme {
  --color-brand-blue: #15328f;
  --color-brand-orange: #f2833c;
  --color-brand-cream: #f6efda;
  --font-heading: var(--font-oswald);
  --font-body: var(--font-nunito);
}

body {
  background-color: #d9d9d9;
}
