@import "tailwindcss";

@theme {
  --color-brand-blue: #15328f;
  --color-brand-orange: #f2833c;
  --color-brand-cream: #f6efda;
  --font-heading: var(--font-druk);
  --font-body: var(--font-onest);
}

body {
  background-color: #d9d9d9;
}

.font-heading {
  letter-spacing: -0.02em;
}
